@keyframes menuTouchFooter {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 128px;
  }
}
@keyframes menuDontTouchFooter {
  50% {
    margin-bottom: 30px;
  }
  100% {
    margin-bottom: 0;
  }
}
@keyframes identifier {

}
.navbarBody {
  display: grid;
  place-items: center;
  width: 100%;
}
.foodForHomelessTitle {
  width: 150px;
}
.joinAsRiderText {
  width: 291px;
}
.esfera1{
  z-index: 1;
  background-color: #FFCA10;
  position: absolute;
  width: 393px;
  height: 200px;
  right: -9px;
  top: 290px;
  border-radius: 1000%;
  display: none;

}

/* BotPress */
#bp-web-widget-container {
  max-height: 90%;
  width: 481px;
  margin: auto;
  flex-grow: 1;
}
#bp-web-widget-container div {
  height: 100%;
}
.webchatIframe {
  position: relative !important;
}
.bpw-floating-button {
  background-image: url(../../public/img/chatbot-icon.gif) !important ;
}

.accesibilityDiv {
  right: 43px;
  position: fixed;
  bottom: 99px;
  transition: 0.5s;
  border-radius: 100%;
  border: 1px solid black;
  height: 48px;
  z-index: 10000;
}
.accesibilityDiv:hover {
  cursor: pointer;
  transform: scale(1.05);
}
#accesibilityIcon {
  width: 48px;
}
.inputAcc {
  /* --s: 50px; 
  
  height: calc(var(--s) + var(--s)/5);
  width: auto; 
  aspect-ratio: 2.25;
  border-radius: var(--s);
  margin: calc(var(--s)/2);
  display: grid;
  cursor: pointer;
  background-color:#ff7a7a;
  box-sizing: content-box;
  overflow: hidden;
  transition: .3s .1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */




  transform: scale(0.9);
  --s: 48px;
  height: 41px;
  width: 86px;
  aspect-ratio: 2.25;
  border-radius: var(--s);
  /* margin: calc(var(--s) / 2); */
  display: grid;
  cursor: pointer;
  background-color: #ff7a7a;
  box-sizing: content-box;
  overflow: hidden;
  transition: .3s .1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inputAcc:before{
  content: "";
  padding: calc(var(--s)/10);
  --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%,#000 96%,#0000);
  background: 
    var(--_g) 0 /var(--_p,var(--s)) 100% no-repeat content-box,
    var(--_g) var(--_p,0)/var(--s)  100% no-repeat content-box,
    #fff;
  mix-blend-mode: darken;
  filter: blur(calc(var(--s)/12)) contrast(11);
  transition: .4s, background-position .4s .1s,
    padding cubic-bezier(0,calc(var(--_i,-1)*200),1,calc(var(--_i,-1)*200)) .25s .1s;
}
.inputAcc:checked {
  background-color: #FFCA10;
}
.inputAcc:checked:before {
  padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
  --_p: 100%;
  --_i: 1;
}
.accTitle {
  font-size: 1.5rem !important;
}
#containerDivSubrayador {
  /* filter: sepia(); */
  display: none;
  background-color: transparent;
  width: 100%;
  height: 22px;
  /* height: 50px; */
  z-index: 9999;
  position: absolute;
  pointer-events: none;
}

#divSubrayador {
  bottom: 1px;
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: red;
  pointer-events: none;
}

#tableMain {
  display: grid !important;
  place-items: center !important;
}
/* .bpw-header-container {
  background: #FFCA10 !important;
} */
#helpAsVoluntier {
  z-index: 2;
  width: 410px;
}
.landingBody {
  color: white;
  padding-top: 100px;
  width: 90%;
  /* font-family: ; */
}
.container-2 {
  padding: 61px !important;
}
.waysToHelp {
  /* display: flex;
  justify-content: center; */
    margin-bottom: 68px !important;
    display: flex;
    justify-content: center;
}
.img {
  width: 120px;
}
#sp {
  filter: none;
}
.flags {
  transform: scale(1.2);
  padding: 10px 13px 10px 0;
  width: 54px;
  filter: grayscale();
  /* transform: 0.5s; */
}

/* DropDown */
#dropdown:hover {
  cursor: pointer;
}
.dropdownText {
  padding: 0;
  margin: 0;
  margin-left: -16px;
}

#riderIconLanding {
  width: 143px;
}
.navbarWaysHelp {
  padding: 32px 70px 0 30px;
}
.textHelp {
  font-weight: 200;
  padding-top: 13px;

}
.sponsorsDiv {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 16px;
}
.sponsors {
  padding: 0 30px 0 30px !important;
}
.sponsorsImg {
  width: 90px;
}
.slogan {
  flex-direction: column !important;
}
.sloganText {
  font-weight: 200;
}
.phrase {
  font-weight: 700;
  font-style: italic;
}
.chatbot-icon {
  bottom: 216px;
  right: 0;
  border: 70%;
  position: fixed;
}
#chatbot-icon {
  width: 110px;
  transition: 0.5s;
}
#chatbot-icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}

p {
  margin-top: none;
}
.modal-header {
    background-color: #FFCA10 ;
    color: #07203C ;
}

.modal-body-camera {
  display: flex !important;
  flex-direction: column !important;
  place-items: center !important;
}
#camera-button {
  /* border: 5px solid #FFCA10; */
  border-radius: 1000% !important;
  height: 48px !important;
  width: 50px !important;
  margin: 10px !important;
  background-image: url('../../public/img/camera_icon.png');
}
#cameraIcon {
  transform: scale(2.5);
    width: 19px;
}
.modal-footer {
  /* background-color: #FFCA10 !important; */
  justify-content: center !important;
}
.buttonCloseModal {
  /* width: 160px !important; */
  /* border-radius: 130px !important; */
}
/* .entranceAnimation {
  display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    position: absolute;
    align-items: center;
    justify-content: center;
}
.jo {
  font-weight: 100;
}
.invito{
  font-weight: 900;
} */
*{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
body {
  text-align: center !important;
  overflow-x: hidden;
}
.alertEpilepsia {
  display: none;
  z-index: 99999;
  border: 1px solid red !important;
  color: black !important;
  background-color: #F8D7D9 !important;
  right: 30%;
  position: fixed !important;
  top: 40px;
}
.pAlert {
  margin: 0;
  padding: 0;
}
.contentHome {
  display: flex;
  justify-content: center;
}
.gird-placeContent{
  padding: 10px;
  display: grid;
  place-items: center;
}
.logo img {
    width: 150px;
}
.container {
    color: white;
    text-align: center;
}
.forms {
   display: inline-flex;
}
.formSelectorIcon {
    border-radius: 25px;
    width: 150px;
    height: 150px;
    border: 5px solid #243E57;
}
.rider {
    margin-right: 20px;
}
nav.navbar.navbar-expand-lg {
    border-radius: 0 0 35px 35px;
}

div#register {
  padding-top: 50px;
}

div#loginDiv {
  margin-top: 50px;
}

.container-fluid {
    display: flex;
    color: white;
    text-align: center;
  }


  .cuadroTitulo.logo {
    margin-bottom: auto;
  }
  .carousel-indicators {
    bottom: -36px !important;
  }
  .logo img {
    display: block;
    margin: 0 auto;
  }
.carrouselIcons {
  margin-bottom: 29px;
}

  .container-form {
    place-content: center;
    display: grid;
    font-size: 23px;
  }
  .form-control {
    height: 39px;
    text-align: center;
    border-radius: 51px !important;
    width: 255px !important;
}
/* .box {
  margin: 10px 0px 20px 101px;
  transform: scale(1.1);
  padding: 12px 8px 12px 9px;
  border-radius: 29px;
  width: 144px;
  border: 3px solid #243E57;
} */
#supplierDiv {
  display: none;
}
/* #riderDiv{
  display: none;
} */
#sCenterDiv {
  display: none;
}
button.btn.btn_login {
  padding: 0 !important;
  height: 39px;
  font-size: 24px !important;
  margin-top: 45px;
  border-radius: 51px !important;
  width: 255px !important;
}


.dontHaveAccount {
  color: #FFCA10;
}
.p {
  margin-top: 0;
    margin-bottom: 0rem;
}
/* Header */

a.nav-link{
  font-family: Montserrat, Helvetica, sans-serif;
  color: #07203C;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 600;
}

div#navbarSupportedContent{
    padding-top: 15px;
}

div#navbarSupportedContent .navbar-nav{
  margin: auto;
}

div#navbarSupportedContent .navbar-nav li:hover{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #07203C;
}

#loginRegistroNavbar{
    position: relative;
    right: 58px;
    /* padding-top: 15px; */
}

#loginRegistroNavbar .nav-link{
  display: inline;
  padding: .5rem 1rem;
}

#loginRegistroNavbar .nav-link:hover{
    color: #07203C
  }

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #07203C!important;
}

.ocultar {
  display: none;
}

button.btn.btn-login {
  margin-right: 7px;
    background-color: #fff;
    border-radius: 25px;
    font-size: 24px;
    width: 150px !important;
}

button.btn.btn-logout {
  margin-right: 7px;
    background-color: #07203C;
    border-radius: 25px;
    font-size: 24px;
    color: #fff;
    width: auto;
}

button.btn.btn-signup {
  margin-left: 7px;
  background-color: #07203C;
  border-radius: 25px;
  color: #fff;
  font-size: 24px;
  width: 150px !important;
}

.btn-login img{
  padding-right: 10px;
  width: 40px
}

.navbar-toggler{
  border: none!important;
}

.navbar-toggler:focus{
  box-shadow: none!important;
}

/* Footer */

footer{
  padding: 10px;
  /* margin-top: 200px; */
  bottom: 0;
  width: 100%;
  background-color:#07203C;
  font-size: 15px;
  color: #fff;
  text-align: center;
  }
footer p{
  font-size: 13px;
}

/* Registro web*/

.spaceSign{
  margin-top: 45px !important;
}

.container-Register{
  margin: auto;
  margin-top: -55px;
  margin-right: -12px;
}

.accountQuestion {
  margin-top: 20px;
}

#medForm{
  margin-top: 30px;
}

.medFormClass{
  display: inline-block;
  place-content: center;
}


.footerTitle{
  font-size: 15px;
}

.logo {
  margin-bottom: -9px;
}

.flotante{
  height: 85px;
  background-color: #FFCA10;
  margin-top: 10px;
  width: 100% !important;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  max-width: 100% !important;
}


.flotante .col{
  text-align: center;
}

.flotante img {
  margin-top: 20px;
}

.flotante.container.text-center {
  z-index: 1;
  border-radius: 25px 25px 0 0;
}

/* Instructions*/

.widthOptions{

width: 70%;

}
/** QR CSS **/
#qr-video {
  background-color: black ;
}
#titleScan {
  color: white;
}
/** CONTACT **/
.formContact {
  color: white;
  font-size: 28px;
}
.group {
  padding: 10px;
}
.text-area {
  height: 122px;
}

.loading {
  opacity: .5;
}
.loading span {
  display: none;
}

.instructionsMargin{
  margin-bottom: 95px; ;
}

.login-signup{
    margin-bottom: 150px;
}

.dropdown.langItem{
  position: relative;
  right: 0px !important;
}

.langDropdown{
  position: relative;
  height: 70px;
}

#dropdown img{
  width: 35px; 
  position: absolute;
  left: 25px;
}

img#showQrModal {
  padding-top: 10px;
}