.gird-placeContent{
  padding: 10px;
  display: grid;
  place-items: center;
}
.logo img {
    width: 150px;
}
.container {
    color: white;
    text-align: center;
}
.forms {
   display: inline-flex;
}
.formSelectorIcon {
    border-radius: 25px;
    width: 150px;
    height: 150px;
    border: 5px solid #243E57;
}
.rider {
    margin-right: 20px;
}
nav.navbar.navbar-expand-lg {
    border-radius: 0 0 35px 35px;
}
.container-fluid {
    display: flex;
  }

  .cuadroTitulo.logo {
    margin-bottom: auto; 
  }
  
  .logo img {
    display: block; 
    margin: 0 auto; 
  }

  
  .form-control {
    width: 50% !important;
}

/* Header */

a.nav-link{
  font-family: Montserrat, Helvetica, sans-serif;
  color: #07203C;
  font-size: 30px;
  letter-spacing: 5%;
  font-weight: 600;
}

div#navbarSupportedContent{
  padding-top: 20px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #07203C!important;
}

/* div#navbarSupportedContent {
  height: 220px;
} */

button.btn.btn-login {
  background-color: #fff;
  border-radius: 25px;
  /* font-family: ; */
}

.btn-login img{
  padding-right: 10px;
}
