.logo img {
    width: 150px;
}

nav.navbar.navbar-expand-lg {
    border-radius: 0 0 35px 35px;
}

.container-fluid {
    height: 100px;
}

.container-fluid {
    display: flex;
  }

  .cuadroTitulo.logo {
    margin-bottom: auto; 
  }
  
  .logo img {
    display: block; 
    margin: 0 auto; 
  }