.centerSpace{

    display: inline-flex;
    place-items: center;
}

.centerSpaceBlock{

    display: inline-grid;
    place-items: center;
}

.btnOrdes{
    border-radius: 20px !important;
}

.modal-header{


    border-bottom: none !important;

}

.modal-footer{

    border-top: none !important;
}

.btnDelete{
    width: 30% !important;
    border: none !important;
}

.codBorder{

border: none !important;
}

.de{
    --bs-card-bg : none !important;
    --bs-card-border-color: none !important;
}

.chartProviderOrder{
    background-color: rgba(235, 221, 221, 0.67);
    border-radius: 20px;
    color: #07203C;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.chartProviderOrder .card{
    width: 100%;
}

.provider-home{
    margin-bottom: 150px;
}
/* MenusProvider menusCss */

.fomrTextColor{
    background-color: #07203C !important;
    color: white !important;
}