/* *{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
} */

.nav.nav-tabs{
    border: none;
}

.nav.nav-tabs .nav-item{
    background-color:#243E57;
    width: 50%;
    border-radius: 25px 25px 0px 0px;
}

.nav.nav-tabs .nav-item .nav-link{
    border: none;
    color: white;
    font-size: 15px;
    font-family: Montserrat, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
}

.nav.nav-tabs .nav-item .nav-link.active{
    background-color:#FFCA10;
    color: #07203C !important;
    border-radius: 25px 25px 0px 0px;
}

#restaurants,#favorites{
    /* position: absolute; */
    height: 380px;
    background-color:#FFCA10;
    border-radius: 0px 0px 1px 1px;
    border: none;
    /* width: 95%; */
    width: 100%;
}

#carouselExampleIndicators{
    top: 15px;
}

.carousel-item{
    width: 445px;
}

.carousel-item .card{
    margin: auto;
    width: 240px;
    height: 314px;
    background-color: #ebdddda3;
    border-radius: 10px;
}

.carousel-item .card .quantity{
    font-size: 45px;
    color: #07203C;
}

.carousel-item .card .simbol{
    border: 1px solid #07203C;
    border-radius: 11px;
    padding-bottom: 6px;
    cursor: pointer;
}


.carousel-item .card .decrement,
.carousel-item .card .increment{
    font-size: 45px;
    color: #07203C;
}

.carousel-item .card button{
    border: none;
    background-color: #07203C;
    width: 100px;
    border-radius: 30px;
    margin-top: 25px;
}

.hidden{
    display: none !important;
}

.buttonOrder{
    color: #07203C;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
}

.buttonOrder > a{
    text-align: center;
}

.imgRiderMot{

    width: 20%;
}



#ordersRider ul{
    list-style: none;
    padding-left: 0px;
}


.chartRiderOrder{
    background-color: rgba(235, 221, 221, 0.67);
    border-radius: 20px;
    color: #07203C;
    padding: 10px;
    width: 90%;
    margin-bottom: 15px;
}

.chartRiderOrder .card{
    width: 100%;
}

.providerMenusCard,
.riderOrderCard{
    background-color: rgba(235, 221, 221, 0.67);
    border-radius: 20px;
    color: #07203C;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.riderOrderCard > a{
    font-weight: 700;
}

.d-tc{

    display: table-caption;
}

.accordion{

    --bs-accordion-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow : none !important;
}


.accordion-item {
    border-bottom-right-radius:20px !important;
    border-bottom-left-radius: 20px !important;
    background-color: #FFCA10 !important;
}

.accordion-item:first-of-type {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.accordion-body {
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.margin-top{
    margin-top: 25px!important;
}

img.rider-logo{
    width: 150px;
    margin: auto;
    margin-bottom: 30px;
}

.section-form{
    padding: 10px 0 35px 0;
    border-radius: 25px;
}

.container.rider-home {
    margin-bottom: 75px;
}

.rider-home .row{
    padding-bottom: 30px;
}

.editRiderInfo{
    margin-bottom: 95px;
}

p.text-white.bg-primary{
    font-size: 28;
}

.riderCode{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    border-radius: 20px !important;
    padding: 0px !important;
    height: 108px;
}

#orderNow h1{
    padding-bottom: 6px;
}

#accordionOrders h1{
    font-size: 30px;
}
